@import "~taro-ui/dist/style/components/float-layout.scss";
.content {
  padding-bottom: 96px;
  position: relative;
  .main {
    background-color: #fff;
    overflow: hidden;
    padding: 0 28px;
  }
  .header {
    height: 120px;
    display: flex;
    align-items: center;
    border-radius: 30px 30px 0 0;
    background-color: rgba($color: #fff, $alpha: 0.9);
    .left {
      flex: 1;
      font-size: 36px;
      color: #02a1fd;
      text-align: center;
      font-weight: bold;
      line-height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      .icon {
        width: 34px;
        height: 34px;
        margin-right: 18px;
      }
    }
  }
  .title {
    text-align: center;
    font-size: 34px;
    color: #282828;
    padding: 30px 0;
  }
  .clock {
    display: inline-block;
    width: 26px;
    height: 26px;
    margin-right: 4px;
  }
  .tip {
    font-size: 22px;
    color: #888888;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  .dates {
    height: 140px;
    border-radius: 20px;
    background-color: rgba($color: #02a1fd, $alpha: 0.13);
    overflow: hidden;
    display: flex;
    align-items: center;
    color: #888888;
    margin-top: 25px;
    .date {
      height: 140px;
      flex: 1;
      font-size: 26px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      .num{
        font-size: 30;
      }
      &.active {
        background: #02a1fd;
        border-radius: 20px;
        color: #fff;
      }
    }
  }
  // .times {
  //   height: 680px;
  //   overflow-y: scroll;
  //   margin-top: 50px;
    .swiper {
      height: 680px;
      padding-top: 50px;
      .timesItem{
        height: 680px;
      }
    }
    .item {
      width: 160px;
      height: 90px;
      background: #DEF3FF;
      border-radius: 20px;
      display: inline-block;
      vertical-align: baseline;
      text-align: center;
      line-height: 90px;
      margin-right: 19px;
      margin-bottom: 20px;
      font-size: 30px;
      &:nth-child(4n) {
        margin-right: 0;
      }
      &.active {
        background: #02A1FD;
        color: #fff;
      }
      &.disabled {
        background-color: #ddd;
        color: #fff;
      }
      &.inner {
        color: #fff;
        background-color: #02A1FD;
      }
    }
  // }
}
.buttom {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  height: 96px;
  align-items: center;
  font-size: 32px;
  .left {
    height: 96px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e5e5e5;
    color: #888;
  }
  .right {
    flex: 1;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00a0e9;
    color: #fff;
  }
}

::-webkit-scrollbar {
  // width: 0;
  // height: 0;
  // color: transparent;
}
