.coupon{
    width: 690px;
    height: 174px;
    background-image: url('../../assets/img/me/coupon_bg.png');
    background-size: 100% 100%;
    display: flex;
    margin-bottom: 20px;
    &.use{
        background-image: url('../../assets/img/me/coupon_dbg.png');
    }
    &.timeout{
        background-image: url('../../assets/img/me/coupon_gbg.png');
    }
    .left{
        width: 205px;
        color: #fff;
        .num{
            font-size: 100px;
            text-align: center;
            .unit{
                display: inline-block;
                font-size: 60px
            }
        }   
        .text{
            font-size: 24px;
            text-align: center;
            margin-top: -20px
        } 
    }
    .center{
        flex: 1;
        color: #383838;
        padding-left: 20px;
        .title{
            font-size: 30px;
            margin-top: 40px
        }
        .time{
            font-size: 20px;
            margin-top: 10px
        }
    }
    .right{
        // flex: 1
        .btn{
            width:120px;
            height:70px;
            background:rgba(0,160,233,1);
            box-shadow:0px 7px 16px 0px rgba(15,88,177,0.18);
            border-radius:35px;
            display: flex;
            align-items: center;
            color: #fff;
            font-size: 24px;
            justify-content: center;
            margin: 50px 20px 0 20px
          }
    }
}