page{
    background-color: #00A0E9
}
.openCode{
    padding: 20px 30px;
    .tip{
        text-align: center!important;
        color: #fff;
        font-size: 22px;
    }
    .content{
        width: 690px;
        border-radius: 42px;
        height: 855px;
        margin-top: 30px;
        .top{
            height: 535px;
            background-color: #fff;
            padding-top: 48px;
            .title{

                color: #8D8D8D;
                font-size: 24px;
                text-align: center
            }

        }
        .bottom{
            background-color: #F5F5F5;
            .item{
                height: 80px;
                display: flex;
                align-items: center;
                .left{
                    width: 110px;
                    color: #8D8D8D;
                    padding-left: 32px;
                    font-size: 24px
                }
                .right{
                   flex: 1;
                   padding-left: 20px;
                   color: #242424;
                   font-size: 28px
                }
            }
        }
    }
    .btn{
      width:280px;
      height:80px;
      background:rgba(255,255,255,.3);
      color:#fff;
      border-radius:25px;
      text-align: center;
      line-height: 80px;
      font-size: 32px;
      margin: 38px  auto 0 auto;
    }
  }
