@import "~taro-ui/dist/style/components/float-layout.scss";
.content {
  padding: 0 30px;
  padding-bottom: 120px;
  position: relative;
  .title {
    text-align: center;
    font-size: 34px;
    color: #282828;
    padding: 30px 0;
  }
  .tip {
    font-size: 22px;
    color: #888888;
  }
  .dates {
    height: 140px;
    border-radius: 20px;
    background-color: rgba($color: #02a1fd, $alpha: 0.13);
    overflow: hidden;
    display: flex;
    align-items: center;
    color: #888888;
    margin-top: 25px;
    .date {
      height: 140px;
      flex: 1;
      font-size: 26px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .num {
        font-size: 30;
      }
      &.active {
        background: #02a1fd;
        border-radius: 20px;
        color: #fff;
      }
    }
  }
  .time {
    margin-top: 50px;
    .item {
      width: 160px;
      height: 90px;
      background: #def3ff;
      border-radius: 20px;
      display: inline-block;
      vertical-align: baseline;
      text-align: center;
      line-height: 90px;
      margin-right: 15px;
      margin-bottom: 20px;
      font-size: 30px;
      &:nth-child(4n) {
        margin-right: 0;
      }
      &.disabled {
        background-color: #ddd;
        color: #fff;
      }
      &.inner {
        color: #fff;
        background-color: #02a1fd;
      }
      &.active {
        background: #02a1fd;
        color: #fff;
      }
    }
  }
}
.buttom {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  height: 96px;
  align-items: center;
  font-size: 32px;
  .left {
    height: 96px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e5e5e5;
    color: #888;
  }
  .right {
    flex: 1;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00a0e9;
    color: #fff;
  }
}
.swiper {
  height: 910px;
}
