.btn{
  width: 100%;
  display: flex;
  align-items: center;
  height: 100px;
  background-color: #009FE9;
  color: #fff;
  justify-content: center;
  font-size: 32px;
  border-radius: 50px
}
.empty{
  .emptyImg{
    width: 216px;
    height: 146px;
    display: block;
    margin: 130px auto 0 auto;
  }
  .emptyText{
    font-size: 28px;
    color: #7B7B7B;
    text-align: center;
    margin-top: 76px;
  }
}
