.card{
  padding-top: 100px;
  .tabs{
    display: flex;
    align-items: center;
    background-color: #fff;
    position: fixed;

    width: 100%;
    top: 0;
    .tab{
      flex: 1;
       text-align: center;
       padding: 26px 0;
       font-size: 29px;
       color: #242424;
       &.active{
         font-size: 32px;
         font-weight: bold;
         position: relative;
         .line{
           width: 41px;
           height: 5px;
           background-color: #00A0E9;
           border-radius: 2.5px;
           position: absolute;
           bottom: 0;
           left: 50%;
           transform: translate3d(-50%,0,0);
         }
       }
    }
  }
}
