.me{
  .logo{
    display: block;
    width: 520px;
    height: 382px;
    margin: 200px auto 0 auto
}
    .btn{
        width: 620px;
        display: flex;
        align-items: center;
        height: 100px;
        background-color: #009FE9;
        color: #fff;
        justify-content: center;
        font-size: 32px;
        border-radius: 50px;
        margin-top: 40px
      }
}
