.goods {
  width: 190px;
  height: 380px;
  background: #feffff;
  box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.18);
  border-radius: 20px;
  display: inline-block;
  white-space: nowrap;
  vertical-align: top;
  padding: 10px;
  box-sizing: border-box;
  margin-right: 15px;
  margin-top: 6px;
  margin-left: 2px;
  border: 1px solid transparent;
  &.active {
    border: 1px solid #02a1fd;
    background: #cfedff;
  }
  .coverC {
    position: relative;
    .cover {
      width: 170px;
      height: 170px;
      display: block;
      background: #02a1fd;
      border-radius: 20px;
    }
    .flag {
      position: absolute;
      // width: 48px;
      padding: 0 8px;
      height: 26px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #f30d0d;
      border-radius: 4px;
      top: 12px;
      left: 12px;
      font-size: 18px;
      font-weight: bold;
      color: #ffffff;
    }
  }

  .content {
    padding-top: 26px;
    .title {
      font-size: 26px;
      font-weight: bold;
      color: #333333;
      text-align: center;
    }
    .price {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      margin-top: 6px;
      .currentPrice {
        color: #f10909;
        display: flex;
        align-items: baseline;
        .unit {
          font-size: 25px;
        }
        .num {
          font-size: 40px;
        }
        margin-right: 9px;
      }
      .originPrice {
        font-size: 20px;
        font-weight: 400;
        text-decoration: line-through;
        color: #999999;
      }
    }
    .contr {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 6px;
      .sub {
        width: 42px;
        height: 42px;
        box-sizing: border-box;
        background: #ffffff;
        border: 2px solid #d7d7d7;
        border-radius: 4px;
        font-size: 32px;
        line-height: 36px;
        text-align: center;
      }
      .count {
        font-size: 36px;
        font-weight: 400;
        color: #333333;
        min-width: 48px;
        text-align: center;
      }
      .add {
        width: 42px;
        height: 42px;
        background: #02a1fd;
        border-radius: 4px;
        font-size: 32px;
        color: #fff;
        box-sizing: border-box;
        line-height: 36px;
        text-align: center;
      }
    }
    .radio {
      width: 42px;
      height: 42px;
      display: block;
      margin: 10px auto 0 auto;
      .icon {
        display: block;
        width: 42px;
        height: 42px;
      }
    }
  }
}
