.room{
  display: flex;
  padding: 24px 0;
  border-bottom: 1px solid #EFEFEF;
  .left{
      width: 164px;
      .cover{
        width: 164px;
        height: 164px;
        display: block
      }
  }
  .center{
    padding-left: 20px;
    flex: 1;
    width: 0;
    .name{
      font-size:28px;
      color: #242424;
    }
    .stars{


    }
    .sale{
      color: #626262;
      font-size: 24px;
    }
    .dis{
      font-size: 24px;
      color:#242424;
    }
  }
  .right{
    width: 160px;
    .num{
      font-size: 46px;
      color: #F0B80D;
      &:before{
          font-size: 28px;
          color: #F0B80D;
          content: '¥';
          margin-right: 4px;
      }
      &:after{
        font-size: 28px;
        color: #A6A6A6;
        content: '起';
        margin-left: 4px;
      }
    }
    .btn{
      width:160px;
      height:66px;
      background:rgba(0,160,233,1);
      box-shadow:0px 7px 16px 0px rgba(15,88,177,0.18);
      border-radius:33px;
      display: flex;
      align-items: center;
      color: #fff;
      font-size: 24px;
      justify-content: center;
    }
  }
}
