page{
  background-color: #eee;
}
.goods {
  background-color: #eee;
  min-height: 100vh;
  padding-bottom: 40px;
  .title {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    background-color: #02a1fd;
    height: 70px;
  }
  .tip {
    font-size: 24px;
    font-weight: 400;
    color: #666666;
    text-align: center;
    margin-top: 12px;
  }
  .btn {
    width: 329px;
    height: 86px;
    background: #02a1fd;
    border-radius: 43px;
    font-size: 36px;
    font-weight: 400;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 84px;
    left: 50%;
    transform: translateX(-50%);
  }
}
