@import "~taro-ui/dist/style/components/list.scss";
@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/modal.scss";

.info{
  padding: 0px 20px 30px 20px;
  .cell{
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #EFEFEF;
    .left{
        flex: 1;
        font-size: 30px;
        color: #232323;
    }
    .right{
        font-size: 30px;
        display: flex;
        align-items: center;
        color: #797979;
        .icon{
            width: 15px;
            height: 25px;
            display: block;
            margin-left: 10px;
        }
        .cover{
            display: block;
            width: 76px;
            height: 76px;
        }
    }
}
  .tip{
    font-size:12px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(122,122,122,1);
    line-height:18px;
    text-align: right;
    margin-top: 20px;
  }
}
