.about{
    .logo{
        display: block;
        width: 520px;
        height: 382px;
        margin: 200px auto 0 auto;
    }
    .title{
        padding: 70px 30px 38px 30px;
        font-size: 30px;
        color: #797979;
    }
    .content{
        font-size: 26px;
        color: #797979;
        line-height: 40px;
        padding: 0 30px
    }
}